//mobile
$mobile-width: 320px;
//tablet
$tablet-width: 768px;
//desktop
$desktop-width: 1400px;
$desktop-width-min: 992px;
$desktop-width-middle: 1200px;
$mobile-width-only: 299px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//font
$montserrat: 'Montserrat', sans-serif;;

//colors
$white: #ffffff;
$body-color: #1A1A18;

